{% extends 'base.html' %}

{% block title %}
    Días page
{% endblock %}

{% block content %}
{% include './includes/partial.html' %}
{% comment %} {% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}

<div class="container">
    <h2 class="banner-title">Días de la semana</h2>


    <ul class="day-list">
        {% for day in list %}
            <li>
                <a href="{% url 'day' day.frase %}">{{ day.name }}</a>
            </li>
        {% empty %}
            <li class="empty">No hay días disponibles</li>
        {% endfor %}
    </ul>
</div>
{% include './includes/endpartial.html' with day=list name="Antonio"%}

{% endblock %}